
<h2>Restaurants</h2>
<div class="row">
	<div class="col-md-8">
		
	</div>
	<div class="col-md-4">
		<a href="new" class="btn btn-success">New</a>
	</div>
</div>

<table class="table table-striped">
<tr>
	<th>Restaurant Name</th>
	<th>Longitude</th>
	<th>Latitude</th>
	<th>Actions</th>
</tr>

<% restaurants.forEach(function(restaurant) { %>
	<tr>
		<td><%= restaurant.name %></td>
		<td><%= restaurant.longitude %></td>
		<td><%= restaurant.latitude %></td>
		<td>
			<a href="edit/<%=restaurant.id%>" class="btn btn-default">Edit</a>
			<a href="item/new" class="btn btn-primary">View items</a>
			<a href="delete/<%=restaurant.id%>" class="btn btn-danger">Delete</a>
		</td>
	</tr>
<% }) %>

</table>